// Custom styles.
.post-copyright {
    margin: 2em 0 0;
    padding: 0.5em 1em;
    border-left: 3px solid #FF1700;
    background-color: #F9F9F9;
    list-style: none;
}

// 圆形侧栏头像
.site-author-image {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
}

// author-name大小
.site-author-name {
  font-size: 16px;
}

// ``内的代码块自定义样式 
code {
    color: #fc6423;
    background: #fbf7f8;
    margin: 2px;
}